// list of lists with data to display
$top-foods: 
("Sugar Cane" 1898),
("Corn" 1017),
("Rice" 738),
("Wheat" 711),
("Cow Milk" 635),
("Potatoes" 374),
("Vegetables" 279),
("Soy Beans" 278),
("Cassava" 263),
("Sugar Beets" 247);

// color variables
$diamond-blue: rgba(0, 159, 255, .6);
$sea-green: rgba(10, 165, 153, .6);
$pale-green: rgba(167, 240, 213, .6);

//main styles
body {
  background-color: #0e0f0f;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.chart {
  display: grid;
  place-items: center;
}
h1 {
  
  font-size: 18px;
  padding-bottom: 20px;
  
}
.bars {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  gap: 5px;
  border-bottom: 1px solid white;
}

// it's like a `for each` method in JS
@each $food, $tons-produced in $top-foods {
    //assign in-build variable $i to the provided list to get data from it
    $i: index($top-foods, ($food $tons-produced));
  rect:nth-child(#{$i +1}) {
    //take data from the list
    height: #{$tons-produced/3}px;
    //create ombre effect for bars
    //using if else conditionals
    @if($i % 3 == 0){
      background-color: fade-out($sea-green, $i*5/100);
    } @else if($i % 3 == 1) {
      background-color: fade-out($pale-green, $i*5/100);
    } @else {
      background-color: fade-out($diamond-blue, $i*5/100);
    }
    &:before {
      content: $food;
      
    }
    &:after {
      content: $tons-produced + "m";
     
    }
  }
}


rect {
  width: 5%;
  float: left;
  padding-left: 25px;
  padding-top: 7px;
  white-space: nowrap;
  word-break: break-all;
  position: relative;
  bottom: 0px;
  font-size: 12px;
  color: white;
  //background-color: #707070;
  font-family: 'Montserrat', sans-serif;
  &:before {
    //display: inline-block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
  }
  &:after {
    position: absolute;
    top: -15px;
    left: 0px;
  }
}
